<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-1235">
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="\assets\images\manDumbbells.jpg">
        <source media="(min-width: 601px)" srcset="\assets\images\manDumbbells.jpg">
        <img loading="lazy" decoding="async" src="\assets\images\manDumbbells.jpg" alt="people smiling" width="1058" height="562" aria-hidden="true">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">See Your Transformation!</span>
            <h2 class="cs-title">Join Shapeshift Fitness Today</h2>
            <p class="cs-text">
                Discover a healthier you at Shapeshift Fitness. Our expert trainers, state-of-the-art facilities, and motivating community are here to support your fitness journey. Achieve your goals with us!
            </p>
                <a href="" class="cs-button-solid">Sign Up Now</a>
        </div>
    </div>
    <!--Corner Shapes-->
    <img class="cs-floater" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/corner-shapes-full.svg" alt="graphic" width="1058" height="562" aria-hidden="true">
</section>                                