---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">ABOUT US</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="\assets\images\aboutBackground.jpg">
            <source media="(min-width: 601px)" srcset="\assets\images\aboutBackground.jpg">
            <img aria-hidden="true" decoding="async" src="\assets\images\aboutBackground.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

<!-- ============================================ -->
<!--                   Quote                      -->
<!-- ============================================ -->

<section id="quote-561">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Quote</span>
            <p class="cs-quote">
                Shapeshift Fitness has transformed my life. The trainers are passionate, and the support is unmatched. It's been a game-changer for me.
            <span class="cs-name">Alex T</span>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RTsbs-71">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="\assets\images\ourMission.jpg">
            <source media="(min-width: 601px)" srcset="\assets\images\ourMission.jpg">
            <img loading="lazy" decoding="async" src="\assets\images\ourMission.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Our Mission</span>
            <h2 class="cs-title">Empowering Your Fitness Journey</h2>
            <p class="cs-text">
                Our mission at Shapeshift Fitness is to empower individuals through expert training, personalized nutrition plans, and a supportive community. We're dedicated to helping you achieve your fitness goals and lead a healthier, happier life.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Meet Our Trainers</a>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-71">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="\assets\images\ourFacilities.jpg">
            <source media="(min-width: 601px)" srcset="\assets\images\ourFacilities.jpg">
            <img loading="lazy" decoding="async" src="\assets\images\ourFacilities.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Our Facilities</span>
            <h2 class="cs-title">State-of-the-Art Gym</h2>
            <p class="cs-text">
                "Explore our state-of-the-art facilities at Shapeshift Fitness. From cutting-edge equipment to spacious workout areas, locker rooms, and more, we provide everything you need to reach your fitness aspirations comfortably.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Explore Our Facilities</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Triplet             -->
<!-- ============================================ -->

<section id="RTsbst-71">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="\assets\images\ourApproach.jpg">
            <source media="(min-width: 601px)" srcset="\assets\images\ourApproach.jpg">
            <img loading="lazy" decoding="async" src="\assets\images\ourApproach.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Our Approach</span>
            <h2 class="cs-title">Results-Driven Fitness and Wellbeing</h2>
            <p class="cs-text">
                At Shapeshift Fitness, we redefine fitness. We're not just about workouts; we're about transformation. With tailored plans, expert guidance, and unwavering support, we're your partners on this exhilarating journey
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">View Upcoming Events</a>
        </div>
    </div>
</section>                              

    {% include 'components/cta.html' %}

{% endblock %}