---
title: 'Facilities'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'facilities/'
eleventyNavigation:
    key: Facilities
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/facilities.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">FACILITIES</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="\assets\images\facilitiesBackground.jpg">
            <source media="(min-width: 601px)" srcset="\assets\images\facilitiesBackground.jpg">
            <img aria-hidden="true" decoding="async" src="\assets\images\facilitiesBackground.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

<!-- ============================================ -->
<!--                Side By Side Reverse          -->
<!-- ============================================ -->

<section id="sbs-1099">
    <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Main Gym</span>
                <h2 class="cs-title">Top-of-the-Line Gym Equipment</h2>
                <p class="cs-text">
                    Welcome to our main gym, the heart of Shapeshift Fitness. Experience a state-of-the-art facility equipped with modern fitness equipment, weights, and personalized workout areas. Achieve your fitness goals in a dynamic and motivating environment.
                </p>
            </div>
            <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="\assets\images\ourFacilities.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="\assets\images\ourFacilities.jpg">
                <img loading="lazy" decoding="async" src="\assets\images\ourFacilities.jpg" alt="appliance" width="323" height="447">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="\assets\images\ourFacilities2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="\assets\images\ourFacilities2.jpg">
                <img loading="lazy" decoding="async" src="\assets\images\ourFacilities2.jpg" alt="appliance" width="305" height="441">
            </picture>
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-short.svg" alt="stripes" width="548" height="487" aria-hidden="true">
        </div>
    </div>
</section>
                                
                                
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1456">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="\assets\images\ourFacilitiesStudio.jpg">
                <source media="(min-width: 601px)" srcset="\assets\images\ourFacilitiesStudio.jpg">
                <img loading="lazy" decoding="async" src="\assets\images\ourFacilitiesStudio.jpg" alt="turbine" width="500" height="729" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">The Studio</span>
            <h2 class="cs-title">Dynamic Fitness Classes & More</h2>
            <p class="cs-text">
                Discover 'The Studio, where we host energizing group fitness classes and wellness sessions. Our experienced trainers lead everything from high-intensity workouts to serene yoga sessions. Explore a diverse range of classes to suit your fitness preferences and goals.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-1457">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="\assets\images\ourFacilitiesPool.jpg">
                <source media="(min-width: 601px)" srcset="\assets\images\ourFacilitiesPool.jpg">
                <img loading="lazy" decoding="async" src="\assets\images\ourFacilitiesPool.jpg" alt="turbine" width="500" height="729" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">The Aquafit Pool</span>
            <h2 class="cs-title">Dive into Aquatic Wellness</h2>
            <p class="cs-text">
                Dive into aquatic wellness in our 25-meter pool. Enjoy low-impact exercises, water volleyball, and aquatic therapy sessions. Our spacious pool promotes strength, flexibility, and recovery in a soothing aquatic setting.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Other                       -->
<!-- ============================================ -->

<section id="services-1167">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Extra Offerings</span>
            <h2 class="cs-title">Maximize Your Membership Benefits</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                        srcset="\assets\images\parking.jpg" />
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                        srcset="\assets\images\parking.jpg" />
                    <img loading="lazy" decoding="async"
                        src="\assets\images\parking.jpg" alt="mechanic"
                        width="413" height="240" aria-hidden="true" />
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Parking</h3>
                    <p class="cs-item-text">
                        Convenient on-site parking ensures hassle-free access to our gym. Your fitness journey starts with easy and stress-free parking.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                        srcset="\assets\images\lockers.jpg" />
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                        srcset="\assets\images\lockers.jpg" />
                    <img loading="lazy" decoding="async"
                        src="\assets\images\lockers.jpg" alt="mechanic"
                        width="413" height="240" aria-hidden="true" />
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Locker Rooms</h3>
                    <p class="cs-item-text">
                        Our spacious locker rooms offer secure storage for your belongings. Freshen up after your workout with our clean and well-maintained facilities.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                        srcset="\assets\images\showers.jpg" />
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                        srcset="\assets\images\showers.jpg" />
                    <img loading="lazy" decoding="async"
                        src="\assets\images\showers.jpg" alt="mechanic"
                        width="413" height="240" aria-hidden="true" />
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Showers and Changing Areas</h3>
                    <p class="cs-item-text">
                        Enjoy post-workout refreshment with our showers and changing areas. Stay clean and comfortable before and after your fitness sessions.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                        srcset="\assets\images\sauna.jpg" />
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                        srcset="\assets\images\sauna.jpg" />
                    <img loading="lazy" decoding="async"
                        src="\assets\images\sauna.jpg" alt="mechanic"
                        width="413" height="240" aria-hidden="true" />
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Sauna and Steam Rooms</h3>
                    <p class="cs-item-text">
                        Indulge in relaxation and recovery with our sauna and steam rooms. Experience the benefits of heat therapy to soothe your muscles and promote overall well-being.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
                                
    {% include 'components/cta.html' %}

{% endblock %}