---
title: 'Home'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1059">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Elevate Your Fitness Journey</h1>
            <p class="cs-text">
                Welcome to Shapeshift Fitness, where your transformation begins. Experience world-class training and a vibrant community dedicated to your success.
            </p>
            <a href="" class="cs-button-solid">Get Started Today</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="\assets\images\heroBackground.jpg">
        <source media="(min-width: 601px)" srcset="\assets\images\heroBackground.jpg">
        <img decoding="async" src="\assets\images\heroBackground.jpg" alt="mechanic" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                                                                                                       

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1080">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="\assets\images\manBoxing.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="\assets\images\manBoxing.jpg">
                <img loading="lazy" decoding="async" src="\assets\images\manBoxing.jpg" alt="mechanic" width="217" height="440">
            </picture>
            <!--Middle image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="\assets\images\womanKettlebell.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="\assets\images\womanKettlebell.jpg">
                <img loading="lazy" decoding="async" src="\assets\images\womanKettlebell.jpg" alt="mechanic" width="305" height="600">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="\assets\images\manBarbell.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="\assets\images\manBarbell.jpg">
                <img loading="lazy" decoding="async" src="\assets\images\manBarbell.jpg" alt="mechanic" width="216" height="440">
            </picture>
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes.svg" alt="stripes" width="509" height="535" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Welcome to Shapeshift Fitness</span>
            <h2 class="cs-title">Your Fitness, Our Priority</h2>
            <p class="cs-text">
                Shapeshift Fitness is the leading UK-based gym, specializing in personalized fitness plans, strength training, weight loss programs, and wellness coaching. Join us today for expert guidance, top-tier facilities, and a supportive fitness community.
            </p>
            <a href="" class="cs-button-solid">Learn About Us</a>
        </div>
    </div>
</section>                               

<!-- ============================================ -->
<!--                    Events                    -->
<!-- ============================================ -->

<section id="events-1137">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Upcoming Events</span>
            <h2 class="cs-title">Ready to Join Our Latest Upcoming Events</h2>
            <p class="cs-text">
                Stay updated on Shapeshift Fitness's latest fitness events and wellness workshops. Explore our diverse range of activities, including strength training, yoga, nutrition seminars, and more. Discover upcoming fitness events to elevate your health and fitness journey.            </p>
            <a href="" class="cs-button-solid">Discover More Events</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="\assets\images\spinBike.jpg">
                    <source media="(min-width: 601px)" srcset="\assets\images\spinBike.jpg">
                    <img loading="lazy" decoding="async" src="\assets\images\spinBike.jpg" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <span class="cs-date">November 10, 2023</span>
                    <div class="cs-details">
                        <span class="cs-time">
                            <img class="cs-icon" loading="lazy" decoding="async" src="\assets\svgs\clock.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            6:30 PM - 8:00 PM
                        </span>
                        <span class="cs-location">
                            <img class="cs-icon" loading="lazy" decoding="async" src="\assets\svgs\pin.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            Studio A
                        </span>
                    </div>
                    <h3 class="cs-h3">Join us for an exhilarating spin workout session!</h3>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="\assets\images\personalTrainer.jpg">
                    <source media="(min-width: 601px)" srcset="\assets\images\personalTrainer.jpg">
                    <img loading="lazy" decoding="async" src="\assets\images\personalTrainer.jpg" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <span class="cs-date">November 15, 2023</span>
                    <div class="cs-details">
                        <span class="cs-time">
                            <img class="cs-icon" loading="lazy" decoding="async" src="\assets\svgs\clock.svg" alt="icon" width="24" height="24" aria-hidden="true">
                             5:00 PM - 6:30 PM
                        </span>
                        <span class="cs-location">
                            <img class="cs-icon" loading="lazy" decoding="async" src="\assets\svgs\pin.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            Main Gym
                        </span>
                    </div>
                    <h3 class="cs-h3">Strength & Conditioning Workshop: Learn proper techniques with our expert trainers.</h3>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="\assets\images\yoga.jpg">
                    <source media="(min-width: 601px)" srcset="\assets\images\yoga.jpg">
                    <img loading="lazy" decoding="async" src="\assets\images\yoga.jpg" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <span class="cs-date">November 20, 2023</span>
                    <div class="cs-details">
                        <span class="cs-time">
                            <img class="cs-icon" loading="lazy" decoding="async" src="\assets\svgs\clock.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            9:00 AM - 10:30 AM
                        </span>
                        <span class="cs-location">
                            <img class="cs-icon" loading="lazy" decoding="async" src="\assets\svgs\pin.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            Studio A
                        </span>
                    </div>
                    <h3 class="cs-h3">Yoga & Meditation: Find inner peace and flexibility in our rejuvenating yoga and meditation class.</h3>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="\assets\images\waterVolleyball.jpg">
                    <source media="(min-width: 601px)" srcset="\assets\images\waterVolleyball.jpg">
                    <img loading="lazy" decoding="async" src="\assets\images\waterVolleyball.jpg" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <span class="cs-date">November 26, 2023</span>
                    <div class="cs-details">
                        <span class="cs-time">
                            <img class="cs-icon" loading="lazy" decoding="async" src="\assets\svgs\clock.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            6:00 PM - 7:30 PM
                        </span>
                        <span class="cs-location">
                            <img class="cs-icon" loading="lazy" decoding="async" src="\assets\svgs\pin.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            AquaFit Pool
                        </span>
                    </div>
                    <h3 class="cs-h3">Water Volleyball Tournament: Join us for a friendly water volleyball competition in our AquaFit Pool. Dive in, spike, and score some fitness fun!</h3>
                </div>
            </li>
        </ul>
    </div>
    <img class="cs-floater" loading="lazy" decoding="async" src="\assets\svgs\bicepCurl.svg" alt="graphic" width="270" height="20" aria-hidden="true">
    </section>                               

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-353">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Discover Our Fitness Team</span>
            <h2 class="cs-title">Meet Our Expert Trainers</h2>
            <p class="cs-text">
                Explore the outstanding team behind Shapeshift Fitness, where fitness meets expertise. Our wellness leaders, Lily Bennett and Ethan Mitchell, are your guides to success. Embrace yoga, weightlifting, personal training, and more with their expert guidance.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    Introducing Ethan Mitchell, our Strength & Conditioning Coach. He crafts tailored fitness plans that help clients achieve their desired results. Whether you're lifting weights or striving for overall fitness, Ethan has you covered.
                </p>
                <span class="cs-name">Ethan Mitchell</span>
                <span class="cs-job">Strength & Conditioning Coach</span>
                <!--Person Image in PNG format-->
                <!--To remove background from image, use https://www.remove.bg/-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="\assets\images\ethanMitchell.png">
                    <source media="(min-width: 601px)" srcset="\assets\images\ethanMitchell.png">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="\assets\images\ethanMitchell.png" alt="person" width="198" height="294">
                </picture>
            </li>
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    Say hello to Lily Bennett, our Wellness Director at Shapeshift Fitness. Participate in her sessions dedicated to improving flexibility, optimizing cardiovascular well-being, and enhancing team synergy.
                </p>
                <span class="cs-name">Lily Bennett</span>
                <span class="cs-job">Wellness Director</span>
                <!--Person Image in PNG format-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="\assets\images\lilyBennett.png">
                    <source media="(min-width: 601px)" srcset="\assets\images\lilyBennett.png">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="\assets\images\lilyBennett.png" alt="person" width="198" height="294">
                </picture>
            </li>
        </ul>
    </div>
</section>                                                          

    <!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1386">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Pricing</span>
            <h2 class="cs-title">Flexible Pricing Plans for Your Tailored Needs</h2>
            <p class="cs-text">
                In the new era of technology we look in the future with certainty and for any post types, or just they are so much great of all to a program.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Standard Pack</span>
                    <span class="cs-price">
                        $99
                        <span class="cs-duration">/Month</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li">Best Hosting</li>
                        <li class="cs-li cs-disabled">Outstanding Support</li>
                        <li class="cs-li cs-disabled">Happy Customers</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Get Now</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Corporate Pack</span>
                    <span class="cs-price">
                        $299
                        <span class="cs-duration">/Month</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li">Best Hosting</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Read More</a>
                </div>
            </li>
        </ul>
    </div>
</section>
                                

    {% include 'components/cta.html' %}
{% endblock %}