---
title: 'Home'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1059">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Elevate Your Fitness Journey</h1>
            <p class="cs-text">
                Welcome to Shapeshift Fitness, where your transformation begins. Experience world-class training and a vibrant community dedicated to your success.
            </p>
            <a href="" class="cs-button-solid">Get Started Today</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="\assets\images\heroBackground.jpg">
        <source media="(min-width: 601px)" srcset="\assets\images\heroBackground.jpg">
        <img decoding="async" src="\assets\images\heroBackground.jpg" alt="mechanic" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                                                                                                       

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1080">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="\assets\images\manBoxing.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="\assets\images\manBoxing.jpg">
                <img loading="lazy" decoding="async" src="\assets\images\manBoxing.jpg" alt="mechanic" width="217" height="440">
            </picture>
            <!--Middle image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="\assets\images\womanKettlebell.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="\assets\images\womanKettlebell.jpg">
                <img loading="lazy" decoding="async" src="\assets\images\womanKettlebell.jpg" alt="mechanic" width="305" height="600">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="\assets\images\manBarbell.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="\assets\images\manBarbell.jpg">
                <img loading="lazy" decoding="async" src="\assets\images\manBarbell.jpg" alt="mechanic" width="216" height="440">
            </picture>
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes.svg" alt="stripes" width="509" height="535" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Welcome to Shapeshift Fitness</span>
            <h2 class="cs-title">Your Fitness, Our Priority</h2>
            <p class="cs-text">
                Shapeshift Fitness is the leading UK-based gym, specializing in personalized fitness plans, strength training, weight loss programs, and wellness coaching. Join us today for expert guidance, top-tier facilities, and a supportive fitness community.
            </p>
            <a href="" class="cs-button-solid">Learn About Us</a>
        </div>
    </div>
</section>                               

<!-- ============================================ -->
<!--                    Events                    -->
<!-- ============================================ -->

<section id="events-1137">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Upcoming Events</span>
            <h2 class="cs-title">Ready to Join Our Latest Upcoming Events</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, minus temporibus debitis quo nulla molestias quibusdam quisquam dicta eligendi nam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, eum. Lorem ipsum dolor sit amet.
            </p>
            <a href="" class="cs-button-solid">Discover More</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event1.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event1.jpg" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <span class="cs-date">07 Sep, 2022</span>
                    <div class="cs-details">
                        <span class="cs-time">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-clock.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            8:00am
                        </span>
                        <span class="cs-location">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-pin.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            Brooklyn, New York
                        </span>
                    </div>
                    <h3 class="cs-h3">It is a long established fact that a reader learn.</h3>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event2.jpg" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <span class="cs-date">07 Sep, 2022</span>
                    <div class="cs-details">
                        <span class="cs-time">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-clock.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            8:00am
                        </span>
                        <span class="cs-location">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-pin.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            Brooklyn, New York
                        </span>
                    </div>
                    <h3 class="cs-h3">Send gifts for children and join us to become volunteer</h3>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event3.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event3.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event3.jpg" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <span class="cs-date">07 Sep, 2022</span>
                    <div class="cs-details">
                        <span class="cs-time">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-clock.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            8:00am
                        </span>
                        <span class="cs-location">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-pin.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            Brooklyn, New York
                        </span>
                    </div>
                    <h3 class="cs-h3">Play for the world with us It is a long established fact.</h3>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event4.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event4.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event4.jpg" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <span class="cs-date">07 Sep, 2022</span>
                    <div class="cs-details">
                        <span class="cs-time">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-clock.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            8:00am
                        </span>
                        <span class="cs-location">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-pin.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            Brooklyn, New York
                        </span>
                    </div>
                    <h3 class="cs-h3">It is a long established fact that a reader learn.</h3>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <img class="cs-floater" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/money-box.svg" alt="graphic" width="270" height="20" aria-hidden="true">
</section>                               

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-353">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Trusted by Thousand of People & Companies</h2>
            <p class="cs-text">
                At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    I have used CleanPro service for about four years. I describe myself very picky and difficult to be pleased. Exceeded my expectations. 
                </p>
                <span class="cs-name">John Doe</span>
                <span class="cs-job">Chief Executive</span>
                <!--Person Image in PNG format-->
                <!--To remove background from image, use https://www.remove.bg/-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Reviews/person1.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Reviews/person1.png">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/person1.png" alt="person" width="198" height="294">
                </picture>
            </li>
            <li class="cs-item">
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                <p class="cs-review">
                    I have used CleanPro service for about four years. I describe myself very picky and difficult to be pleased. Exceeded my expectations.
                </p>
                <span class="cs-name">Robert Henrich</span>
                <span class="cs-job">CEO, HK Traders</span>
                <!--Person Image in PNG format-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Reviews/person2.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Reviews/person2.png">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/person2.png" alt="person" width="211" height="313">
                </picture>
            </li>
        </ul>
    </div>
</section>                                                          

    <!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1386">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Pricing</span>
            <h2 class="cs-title">Flexible Pricing Plans for Your Tailored Needs</h2>
            <p class="cs-text">
                In the new era of technology we look in the future with certainty and for any post types, or just they are so much great of all to a program.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Standard Pack</span>
                    <span class="cs-price">
                        $99
                        <span class="cs-duration">/Month</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li">Best Hosting</li>
                        <li class="cs-li cs-disabled">Outstanding Support</li>
                        <li class="cs-li cs-disabled">Happy Customers</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Get Now</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Corporate Pack</span>
                    <span class="cs-price">
                        $299
                        <span class="cs-duration">/Month</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Mobile-Optimized</li>
                        <li class="cs-li">Free Custom Domain</li>
                        <li class="cs-li">Best Hosting</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Read More</a>
                </div>
            </li>
        </ul>
    </div>
</section>
                                

    {% include 'components/cta.html' %}
{% endblock %}